body {
  box-sizing: border-box;
  margin: 0;
  background-color: #1e1e1e;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
blockquote {
  margin: 0;
  padding: 0;
}

.logo {
  padding: 24px, 200px, 24px, 20px;
  width: 78.45px;
  height: 15.43px;
}

.content-section {
  box-sizing: border-box;
  margin: auto;
  width: 360px;
 }

.content-section_theme_dark {
  background-color: #131313;
  color: #F5F5F5;
  width: 360px;
  }

.content-section_theme_bright {
  background-color: #FEE42A;
  color: var(--black-bg, #131313);
  width: 360px;
  }

.header {
  color: #131313;
  width: 360px;
  height: 132px;
  padding: 24px, 20px;
}

.cover {
  background-image: url(/images/cover.svg);
  background-size: 95% auto;
  background-repeat: no-repeat;
  background-position: right;
}

.cover__title {
  padding-top: 7px;
  padding-bottom: 35px;
  padding-right: 24px;
  padding-left: 20px;
  display: block;
  font-family: 'EB Garamond', sans;
  font-size: 72px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 72px */
}

.accent-span {
  display: block;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.intro {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 37px;
}

.intro__heading {
  display: flex;
}

.intro__title {
  color: var(--text-gray, #CCC);
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 19.2px */
}

.intro__date {
white-space: nowrap;
color: var(--text-gray, #CCC);
font-family: 'Inter', sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 120%; /* 19.2px */
}

.intro__main-text {
  padding-top: 24px;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 21.6px; /* 135% */
}

.reasons {
  padding-top: 40px;
  padding-right: 20px;
  padding-bottom: 24px;
  padding-left: 20px;
}

.content-section__title {
  font-family: 'EB Garamond', sans;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 115%; /* 32.2px */
}

.content-section__introduction {
  padding-top: 32px;
  padding-bottom: 32px;
}

.content-section__list {
  padding-left: 16px;

}

.content-section__list-item {
  padding-bottom: 16px;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 21.6px;
}

.content-section__list-accent {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 21.6px; /* 135% */
}

.how-to {
  padding-top: 40px;
  padding-right: 20px;
  padding-bottom: 24px;
  padding-left: 20px;
}

.list-item_dark {
  border-radius: 30px;
  background: var(--gray-bg, #343434);
  padding: 20px;
  margin-bottom: 32px;
}

.list-item_light {
  border-radius: 30px;
  background: var(--yellow-bg, #FEE42A);
  padding: 20px;
  margin-bottom: 32px;
}

.h2_white_right {
  padding-top: 40px;
  padding-right: 20px;
  padding-bottom: 0;
  padding-left: 20;
  text-align: right;
  font-family: EB Garamond;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 115%; /* 32.2px */
  }

.h2_white_left {
  padding-top: 0;
  padding-right: 20px;
  padding-bottom: 32px;
  padding-left: 20px;
  font-family: EB Garamond;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 115%; /* 32.2px */
  text-align: left;
}

.how-to_text_white {
  padding-top: 0;
  padding-right: 20px;
  padding-bottom: 32px;
  padding-left: 20px;
}

.author {
  padding-top: 8px;
  text-align: left;
  color: #F5F5F5;
  font-family: 'Interbold', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 135%; /* 21.6px */
}

.h3_white {
  padding-bottom: 8px;
  color: #F5F5F5;
  font-family: EB Garamond;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 135%; /* 29.7px */
}

.h3_dark {
  padding-bottom: 8px;
  color: #131313;
  font-family: EB Garamond;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 135%; /* 29.7px */
}

.how-to_text_white {
  padding: 0, 0, 32px, 0;
  color: #F5F5F5;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 135%; /* 27px */
}

.how-to_text_white_mini {
  color: #F5F5F5;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 21.6px; /* 135% */
}

.how-to_text_dark_mini {
  color: #131313;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 21.6px; /* 135% */
}


.footer {
padding: 20px, 20px;
}

.footer-cr {
  color: #F5F5F5;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 135%; /* 21.6px */
}
