body {
  box-sizing: border-box;
  margin: 0;
  background-color: #1e1e1e;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
blockquote {
  margin: 0;
  padding: 0;
}

.logo {
  padding: 24px, 200px, 24px, 20px;
}

.content-section {
  box-sizing: border-box;
  margin: auto;
  width: 360px;
  display: inline-block;
}

.content-section_theme_dark {
  background-color: #131313;
  width: 360px;
  height: 100px;
}

.content-section_theme_bright {
  color: #FEE42A;
  width: 360px;
  height: 100px;
}

.header {
  color: #131313;
  width: 360px;
  height: 132px;
  padding: 24px, 20px;
}

.cover {
  padding: 0, 0, 30px, 21px;
}

.h1_left {
  color: #FFF;
  font-family: EB Garamond;
  font-size: 72px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 72px */
  text-align: left;
}

.h1_center {
  color: #FFF;
  font-family: EB Garamond;
  font-size: 72px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 72px */
  text-align: center;
}

.h1_right {
  color: #FFF;
  font-family: EB Garamond;
  font-size: 72px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 72px */
  text-align: right;
}

.intro {
  padding: 0, 20px, 37px, 20px;
}


.reasons {
  padding: 40px, 20px;
}

.h2_dark_right {
  padding: 40px, 0, 32px, 0;
  color: var(--black-bg, #131313);
  text-align: right;
  font-family: EB Garamond;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 115%; /* 32.2px */
}

.h2_dark_left {
  padding: 40px, 0, 32px, 0;
  color: var(--black-bg, #131313);
  text-align: left;
  font-family: EB Garamond;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 115%; /* 32.2px */
}

.reasons-text {
  width: 320px;
  height: 297px;
  color: var(--black-bg, #131313);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 135% */
}

.reasons-list {
  color: #131313;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  line-height: 21.6px; /* 135% */
  background: #FEE42A;
  width: 360px;
}

.mini_title {
  font-weight: 700;
}

.how-to {
  width: 320px;
  border-radius: 30px;
  background: var(--gray-bg, #343434);
}

.h2_white_right {
  padding: 40px, 20px, 32px;
  color: #F5F5F5;
  text-align: right;
  font-family: EB Garamond;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 115%; /* 32.2px */
  text-align: right;
}

.h2_white_left {
  padding: 40px, 20px, 32px;
  color: #F5F5F5;
  text-align: right;
  font-family: EB Garamond;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 115%; /* 32.2px */
  text-align: left;
}

.author {
  color: #F5F5F5;
  font-family: 'Interbold', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 135%; /* 21.6px */
}

.h3_white {
  color: #F5F5F5;
  font-family: EB Garamond;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 135%; /* 29.7px */
}

.h3_dark {
  border: 20px, 20px, 8px;
  color: #131313;
  font-family: EB Garamond;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 135%; /* 29.7px */
  border-radius: 30px;
  background: var(--yellow-bg, #FEE42A);

}

.how-to_text_white {
  padding: 0, 0, 32px, 0;
  color: #F5F5F5;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 135%; /* 27px */
}

.how-to_text_white_mini {
  color: var(--black-bg, #131313);
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 21.6px; /* 135% */
}

.how-to_text_dark_mini {
  color: #131313;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 21.6px; /* 135% */
  border-radius: 30px;
  background: var(--yellow-bg, #FEE42A);
}


.footer {

}

.footer-cr {
  color: #F5F5F5;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 135%; /* 21.6px */
}
